table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.alert-box {
    position: absolute;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.login-card{
	top: 20%;
}
.justify-content-center{
	margin: 0 !important;
}
.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 30%;
   opacity: 0.95;
   z-index: 1050;
   transition: left 0.6s ease-out 0s;
}
.jumbotron{
  padding: 1rem 2rem !important;
}
.flyover-centered {
   top: 10%;
   transform: translate(-50%, -50%);
}

.flyover.in {
   left: 83%;
}
